<html>
    <head>
        <title>Decryption</title>
        <style>
                     .container{
                margin-top: -290px;
            }
            body{
                margin: 0px;
            }
        </style>
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="container"> 
            <h1 class="t" style="visibility: hidden;">.</h1>    
      </br></br>
        <h1 class="text-center" >Decrypt Text from Image</h1>
        <form class="mt" method="post" action="{% url 'decryption' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
        <label style="margin-top: 20px;">Select an Image</label></br>
        <input style="margin-top: 20px;" type="file" name="image" required class="form-control-file" accept="image/png"/>
        </div>
            <button type="submit" style="margin-top: 20px;" class="btn btn-primary">Decrypt</button>
        </form>
        {%if text %}
        <div class="alert alert-success mt-3">
        <h4>Decrypted Text</h4>
        <p>{{text}}</p>
        </div>
        {% endif %}
    </body>
</html>